 /* html5doctor.com Reset v1.6.1 - http://cssreset.com */
        html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

body {
	background-image: url ("images/daisy.png");
	background-repeat: no-repeat;
	background-position: top-left;
	opacity: 0.8;
	height: 200px;
}


#logo { 
	height: 100px; 
	width: auto; 
	float: left; 
	margin: 1em 30em 1em 1em;
}


div {
	margin: 0px;
	padding: 0px;
}

#butterfly {
	height: 95px;
	width: auto;
	float: right;
	margin: 1em;
}


article {
	text-align: left;
	font-family: Tahoma, Geneva, sans-serif;

}

.contact_type {
	font-weight: bold;
	font-size: 1em;
	color: purple;
}

.form_type {
	font-weight: bold;
	font-size: 1em;
	color: purple;
	margin: 0em 1em 0em 2em;
}

textarea {
    color: purple;
    height: 75px;
    padding: 1em;
    margin: 0em 0em 0em 1em;
    width: 350px;
    border: 1;
    border-radius:5px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1em;
}

input {
	margin: 1em;
}

/* Footer Bar */
#footer_wrapper { 
	background-color: #a7a8c9; 
	height: 75px; 
	width: auto; 
	margin: 1em auto 0em auto;

}

.footer_text {
	margin: 1px auto;
	padding: 0em;
	text-align: center;
	color: black;
	
}

a {
	text-decoration: none;
	color: black;
}

div a:hover, div a:active {
         background-color: #800;
         color: orange;
}